
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin sinh viên</h2>
<h3>Mã sinh viên</h3> <p>[mã sinh viên dự kiểm tra...</p> <br />
<h3>Họ tên</h3><p>[họ tên sinh viên...]</p> <br />
<h4>Lớp:</h4>


