
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN SINH VIÊN DỰ THI</h2>
Mã sô SV: 63132131 <br />
Họ và tên: Nguyễn Trần Xuân Huy <br />
Ngày thi: 25/4/2024 <br />
Học Phần : Thiết kế lập trình Web 2

