
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách bài tập</h2>
<p>1.Tạo một trang web thực hiện chức năng đăng ký thông tin nhân viên gồm các thông tin: Mã số nhân viên, họ tên, ngày sinh, email, mặt khẩu, đơn vị và ảnh đại diện Khi người dùng nhấn một Đăng ký, ứng dụng cho phép lưu thông tin nhân viên vin nhập vào file test và lưu ở Sever (lưu cả hình về serveri, ứng dụng cho phép mở thông tin của nhân viên đăng kỵ hiểu để lai client web.</p>
<p>2.Tạo một trang web cho phép đăng nhập vào email và gửi email đến một địa chỉ khác (sử dụng email Yahoo hoặc Gmail). Thông tin gửi email bao gồm: địa chỉ email người gửi, mật khẩu người gửi, địa chỉ email người nhận, tiêu đề và nội dung email. Lưu ý rằng email phải nhập đúng định dạng và không được để trống.</p>
<p>3.Tạo một chức năng cho phép người dùng chọn một ảnh bất kỳ (upload file) để thay đổi banner trên giao diện web.</p>
<p><i>Lưu ý: File ảnh được tải về sẽ được lưu trong tập tin .txt.</i></p>

